@import url(../base/variabili.css);
@media (min-width: 1025px) {

    .DescrizionePagina {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .DescrizionePagina p {
        margin-left: 7%;
        margin-right: 7%;
        padding: 5px;
    }

    #articoli {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    .prodotti {
        padding: 20px;
        margin: 0px;
        width: 70%;
        display: grid;
        grid-template-rows: 2fr 0.5fr 0.5fr;
        justify-items: center;
        height: 500px;
    }

    .prodotti img {
        width: 100%;
        margin-bottom: 20px;
    }

    .prodotti div {
        margin-left: 0;
    }


}