@import url(../base/variabili.css);

@media (min-width: 601px) {
    
    .DescrizionePagina {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .DescrizionePagina p {
        margin-left: 2%;
        margin-right: 2%;
        padding: 1%;
    }

    #articoli {
        margin: 1%;
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        gap: 15px;    
        justify-content: center;
    }

    .prodotti {
        width: 45%;
    }

    .prodotti img {
        width: 40%;
    }

}