@import url(../base/variabili.css);
@media (min-width: 601px) {
    
    h1 {
        margin: 30px;
    }
    #top {
        width: 3%;
    }

    .testuale {
        margin-left: 50px;
        margin-right: 50px;
    }

    .info2 p, .info2 li{
        font-size: 16px;
        text-align: left;
    }

    video {
        margin-bottom: 50px;
    }
}
